{% macro create_account_form() %}
<form onsubmit="event.preventDefault(); createAccount()" class="input-group">
    <input required autocomplete="off" class="input-custom" id="name" placeholder="Name">
    <input autocomplete="off" class="input-custom" id="username" placeholder="Username">
    <input required autocomplete="off" class="input-custom" id="password" placeholder="Password">
    <input autocomplete="off" class="input-custom" id="hint" placeholder="Hint">
    <button class="btn-custom"><i class="bi bi-plus-lg"></i> Create Account</button>
</form>
{% endmacro %}

{% macro edit_account_form(account) %}
<form method="POST" class="input-group" action="{{ url_for('edit_account', id_=account.id) }}">
    <input required autocomplete="off" class="input-custom" name="name" placeholder="Name" value="{{ account.name }}">
    <input autocomplete="off" class="input-custom" name="username" placeholder="Username" value="{{ account.username }}">
    <input required autocomplete="off" class="input-custom" name="password" placeholder="Password" value="{{ account.password }}">
    <input autocomplete="off" class="input-custom" name="hint" placeholder="Hint" value="{{ account.hint }}">
    <button class="btn-custom"><i class="bi bi-pen"></i> Edit Account</button>
</form>
{% endmacro %}

{% macro account_card(account) %}
<div class="card col-xl-4 border-0">
    <div class="card-body mb-4" onmouseenter="$('#pass' + {{ account.id }}).removeClass('invisible')" onmouseleave="$('#pass' + {{ account.id }}).addClass('invisible')">
        <p class="font-custom" style="font-size: 2em">{{ account.name }}</p>
        <p><i class="bi bi-person-fill"></i> {{ account.username or '(No Username)' }}</p>
        <input readonly value="{{ account.password }}" class="input-hidden invisible font-monospace mb-2" id="pass{{ account.id }}" autocomplete="off">
        <p class="fst-italic opacity-50"><i class="bi bi-lightbulb"></i> {{ account.hint or 'No Hints' }}</p>
        <div class="mt-3">
            <a onclick="copyPass({{ account.id }})"><i id="copyBtn{{ account.id }}" class="bi bi-clipboard me-2"></i></a>
            <a data-bs-toggle="modal" data-bs-target="#edit{{ account.id }}"><i class="bi bi-pen me-2"></i></a>
            <a class="text-danger" onclick="toggleDiv('deleteAccount' + {{ account.id }})"><i class="bi bi-trash3"></i></a>
            <a class="text-danger font-custom" onclick="deleteAccount({{ account.id }})" id="deleteAccount{{ account.id }}" style="display: none">Delete?</a>
            <small class="fst-italic opacity-50 float-end">Updated {{ account.last_updated.strftime('%m-%d-%Y') }}</small>
        </div>
    </div>
</div>

<div class="modal" id="edit{{ account.id }}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content p-3">
            {{ edit_account_form(account) }}
        </div>
    </div>
</div>
{% endmacro %}
