:root, html[data-theme="dark"] {
    --primary-bg: #1a1a1a;
    --primary-txt: white;
}

html[data-theme="light"] {
    --primary-bg: white;
    --primary-txt: #1a1a1a;
}

a, a:hover {
    color: inherit !important;
    text-decoration: none;
    cursor: pointer;
}

body, .dropdown-menu {
    background-color: var(--primary-bg);
    color: var(--primary-txt);
}

.form-control, .form-control:focus, .form-control:read-only {
    background-color: inherit;
    color: inherit;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid;
}